@font-face {
  font-family: fontello;
  src: url(../fonts/fontello.woff2) format("woff2"), url(../fonts/fontello.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class^=icon-]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-globe:before {
  content: "\e800"
}
.icon-users:before {
  content: "\e801"
}
.icon-user:before {
  content: "\e802"
}
.icon-link:before {
  content: "\e803"
}
.icon-sticky-note-o:before {
  content: "\f24a"
}
.icon-home:before {
  content: '\e804';
}
