@import 'bootstrap/scss/bootstrap';
@import 'fontello';
@import 'sortable';

th i {
  font-size: 1.3em !important
}

.btn-darktheme {
  position: absolute;
  top: 10px;
  right: 10px
}

.tableShow {
  cursor: pointer
}

.addArrow:before {
  content: "→ "
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

// color variables
:root {
  --main-link: #ab2326;
  --danger: #ab2326;
  --success: #1A5B2B;
  --table-font-color: white;
}
body {
  background-color:var(--main-bgc);
  color:var(--font-color) !important
}
table {
  color: var(--font-color) !important
}
.table-striped>tbody>tr:nth-of-type(odd),
table.sortable>thead th:hover:not([data-defaultsort=disabled]) {
  background-color:var(--main-light,#e4e4e4)
}
td {
  border-top-color:var(--main-dark)!important
}
td.danger,
td.success {
  color: var(--table-font-color);
}
td.success {
  background-color: var(--success) !important
}
td.danger {
  background-color: var(--danger) !important
}
a {
  color:var(--main-link)
}
a:hover,
a:active,
a:focus {
  color:var(--main-link);
  text-decoration:underline
}
